<!DOCTYPE html>
<html>
    
    <head>
        <title>Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <style>
            /* .ng-invalid.ng-dirty {border-color: red}
               .ng-valid.ng-dirty {border-color: green;} */
        </style>
    </head>
    
    <body ng-app="store">
        <div class="container"> 
            <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
            <script type="text/javascript" src="js/app.js"></script>
            <script type="text/javascript" src="js/app-products.js"></script>
            <div ng-controller="StoreController as store">
                <h1>Angular</h1>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="product in store.products">
                        <div ng-hide="product.soldOut">
                            <h3 product-title></h3>
                            <span ng-show="product.images.length" ng-repeat="image in product.images">
                                <img ng-src="{{image}}"/>
                            </span>
                            <a ng-show="product.canPurchase">Add to cart</a>
                        </div>
                        <product-panels></product-panels>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>
