<div class="panel">
                                
    <h4>Reviews</h4>
    <form name="reviewForm" novalidate ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)">

        <blockquote>
            <b>Stars: {{ reviewCtrl.review.stars }}</b>
            {{reviewCtrl.review.body}}
            <cite>by: {{reviewCtrl.review.author}}</cite>
        </blockquote>

        <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{ review.stars }}</b>
            {{review.body}}
            <cite>by: {{ review.author }}</cite>
        </blockquote>

        <div>review Form is valid: {{reviewForm.$valid}}</div>
        <div class="form-group">
            <select class="form-control" ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
            </select>
        </div>    
            
        <div class="form-group">
            <textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
        </div>
        
        <div class="form-group">
            <label>by:</label>
            <input class="form-control" ng-model="reviewCtrl.review.author" type="email" required/>
        </div>    
            
        
        <input class="btn btn-success" type="submit" value="Submit"/>
        
    </form>
</div>